
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAFD - Admin</title>
    <link type="text/css" rel="stylesheet" href="../static/css/styles.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/datatables.min.css"/>
</head>
<body>
    <h2>WAFD - Admin</h2>
    
    <h2>Registros</h2>
   <div style="display: flexbox;">
    <a id="add_data" href="#">
        <button >Agregar 13 datos</button>
    </a>
    
    <a id="delete_data" href="#">
        <button >Eliminar todos los datos</button>
    </a>
   </div>
   <div style="display: flex;flex-direction: row;">
   <b style="align-items: center;">Status: </b><p id="msg">No action</p>
   </div>
   <br>
    <a href="/">
        <button >Home</button>
    </a>
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/datatables.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#add_data').click(function(){
                $.ajax({
                    type: 'GET',
                    url: "http://api/add_person",
                    headers: {
                        'Access-Control-Allow-Credentials' : true,
                        'Access-Control-Allow-Origin':'*',
                        'Access-Control-Allow-Methods':'GET',
                        'Access-Control-Allow-Headers':'application/json',
                    },
                    beforeSend: function(){
                        console.log("Enviando request...");
                        $('#msg').html('Adding...')
                    },
                    success: function (response) {
                        console.log(response.data)
                        $('#msg').html(response.data)
                    },
                    error: function (response) {
                    console.log(response)
                    $('#msg').html('Error!')
                    }
                });
         
            });

            $('#delete_data').click(function(){
                $.ajax({
                    type: 'DELETE',
                    url: "http://api/delete_persons",
                    headers: {
                        'Access-Control-Allow-Credentials' : true,
                        'Access-Control-Allow-Origin':'*',
                        'Access-Control-Allow-Methods':'GET',
                        'Access-Control-Allow-Headers':'application/json',
                    },
                    beforeSend: function(){
                        console.log("Enviando request...");
                        $('#msg').html('Deleting...')
                    },
                    success: function (response) {
                        console.log(response.data)
                        $('#msg').html('Number of records deleted ' + response.data)
                    },
                    error: function (response) {
                    console.log(response)
                    $('#msg').html('Error!')
                    }
                });
         
            });
        });
     
    </script>
</body>
</html>