
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAFD</title>
    <link type="text/css" rel="stylesheet" href="../static/css/styles.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/datatables.min.css"/>
</head>
<body>
    <h2>WAFD</h2>
    
    <h2>Registros</h2>
    <table id="data-table_code" class="table table-bordered" style="display: none; width:100%">
        <thead>
            <tr class="encabezado_tabla">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Ocupacion</th>
                <th>direccion</th>
                <th>Ciudad</th>
                <th>Pais</th>
            </tr>
        </thead>
    </table>
    <a href="/admin">
    <button >Admin</button>
    </a>
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/datatables.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url: "/get_persons",
                contentType: "application/json",
                headers: {
                    'Access-Control-Allow-Credentials' : true,
                    'Access-Control-Allow-Origin':'*',
                    'Access-Control-Allow-Methods':'GET',
                    'Access-Control-Allow-Headers':'application/json',
                },
                beforeSend: function(){
                    console.log("Enviando request...");
                },
                success: function (response) {
                    console.log(response.data)
                    fillTable(response.data);
                },
                error: function (response) {
                  console.log(response)

                }
            });
        });
        function fillTable(data){
            $('#data-table_code').DataTable().destroy();
            $('#data-table_code').show();
            $('#data-table_code').DataTable({
                dom: 'B<"clear">rtip',
                pageLength: 5,
                buttons: {
                    name: 'primary',
                    buttons: [
                    'copy', 'csv', 'excel','pdf'
                    ]
                },
                "data": data,
                "columns": [
                    { "data": "first_name" },
                    { "data": "last_name" },
                    { "data": "job" },
                    { "data": "address" },
                    { "data": "city" },
                    { "data": "country" },
                ], select: true,
                lengthMenu: [
                    [15, 30, 45, -1],
                    ["15 Rows", "30 Rows", "45 Rows", "Todo"]
                ],
                language: {
                    searchPlaceholder: "Buscar Datos",
                    infoEmpty: "La tabla no tiene registros",
                    zeroRecords:"No hay datos",
                },
            });
    
        }
     
    </script>
</body>
</html>